*.pyc
sites.csv
sites.html
refsites.html
save/
*.pickle
course-ids.txt
update.json
census/keys.py
.ipynb_checkpoints
.pytest_cache
aliases.txt
referers.txt
history/
*.egg-info
new-referers.txt
new-referrers.html
